 <!-- Fixed navbar -->
	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="heading-page">Danh sách thông điệp</div>
			<hr>
			<div class="row no-margin list-wrapper" ng-if="vm.listMessage">
				<!--<div class="col-md-6 col-xs-12 panel panel-body  message-item panel-primary text-primary">
					<div class="remove-icon"><i class="glyphicon glyphicon-remove"></i></div>
					<div>sjdasjdb sadbasd <i class="glyphicon glyphicon-edit cursor-pointer"></i></div>
				</div>
				<div class="col-md-6 col-xs-12 panel panel-body cursor-pointer message-item">
					<div class="remove-icon"><i class="glyphicon glyphicon-remove cursor-pointer"></i></div>
					<div>sjdasjdb sadbasd</div>
					<div class="cursor-pointer"><i class="glyphicon glyphicon-edit">Edit</i></div>
				</div>-->
				<div class="col-md-6 col-xs-12 panel panel-body message-item" ng-repeat="message in vm.listMessage" ng-class="{'panel-primary': message.status}">
					<div class="round col-md-1 col-xs-1">
						<input type="checkbox" id="checkbox{{$index}}" ng-model="message.status" ng-click="vm.toogleStatusMessage(message, $index)"/>
						<label for="checkbox{{$index}}"></label>
						<!--<label for="checkbox{{message.index}}"></label>-->
					</div>
					<div class="col-md-10 col-xs-10 no-padding">
						<div class="cursor-pointer" ng-click="vm.editMessage(message, $index)">{{message.name}}<i class="glyphicon glyphicon-edit cursor-pointer"></i></div>
						<div>
							<i ng-if="message.dir === 'prev' || message.dir === 'all'" class="glyphicon glyphicon-backward"></i>
							<i ng-if="message.dir === 'next' || message.dir === 'all'" class="glyphicon glyphicon-forward"></i>
						</div>
					</div>
					<i class="glyphicon glyphicon-remove cursor-pointer" ng-click="vm.deleteMessage($index)"></i>
				</div>
				<!-- panel-primary text-primary-->
				<!--<div class="col-md-6 col-xs-12 panel panel-body message-item" >
					<div class="remove-icon"><i class="glyphicon glyphicon-remove cursor-pointer"></i></div>
					<div>{{message.name}}</div>
					<div class="cursor-pointer"><i class="glyphicon glyphicon-edit">Edit</i></div>
				</div>-->
			</div>
			<div class="listBtn">
				<a class="btn btn-primary" role="button" ng-click="vm.add()"><i class="glyphicon glyphicon-plus"></i> Thêm thông điệp</a>
			</div>
		</div>
	</div> <!-- /container -->