<div class="container">
  <div class="login-form">
  <div class="main-div">
    <div class="panel">
     <h2>Admin Login</h2>
     <p>Please enter username and password</p>
     </div>
      <form id="Login">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name device" ng-model="vm.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" ng-model="vm.password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.login()">Login</button>
      </form>
      </div>
    <p class="botto-text"> Designed by MBELL</p>
  </div>
</div>
</div>
  
  