<div class="container">
  <div class="login-form">
  <div class="main-div">
    <div class="panel">
     <h2>ĐĂNG NHẬP</h2>
     </div>
      <form id="Login">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Tên thiết bị" ng-model="vm.username">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Mật khẩu" ng-model="vm.password">
        </div>
        <button type="submit" class="btn btn-primary" ng-click="vm.login()">Đăng nhập</button>
      </form>
    </div>
  </div>
</div>
</div>
  
  