 <!-- Fixed navbar -->
	<div class="container">
		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<div class="heading-page">Bảng LED</div>
			<hr>
			<div class="row no-margin setting-wifi">
				<div class="col-md-6 col-xs-12 panel panel-body setting-item matrix-board">
					<div class="matrix-img"></div>
					<div class="matrix-contents text-center text-bold" style="opacity: {{(vm.txtLightMessage / vm.txtMaxLight) < 0.3 ? 0.3 : (vm.txtLightMessage / vm.txtMaxLight)}}">LED</div>
					<!--<div class="matrix-across text-important">{{vm.txtDisplayAcross}}</div>-->
					<!--<div class="matrix-down text-important">{{vm.txtDisplayDown}}</div>-->
				</div>
				<div class="panel panel-default col-md-6 col-xs-12 no-padding setting-item">
					<div class="panel-heading">Cài đặt bảng LED</div>
					<div class="panel-body">
						<div class="form-group">
							<label>Số bảng theo chiều ngang</label>
							<input type="number" name="name" class="form-control" placeholder="" ng-model="vm.txtDisplayAcross" disabled="disabled">
						</div>
						<div class="form-group">
							<label>Số bảng theo chiều dọc</label>
							<input type="text" name="name" class="form-control" ng-model="vm.txtDisplayDown" disabled="disabled">
						</div>
						<div class="form-group">
							<label>Cường độ sáng</label>
							<input class="simple-slider" id="simple-slider" ng-value="vm.txtLightMessage" ng-model="vm.txtLightMessage"/>
						</div>
					</div>
				</div>
			</div>
			<div class="listBtn">
				<a class="btn btn-primary" role="button" ng-click="vm.save()"><i class="glyphicon glyphicon-floppy-save"></i> Lưu cài đặt</a>
			</div>
		</div>
	</div> <!-- /container -->

