<!-- Fixed navbar -->
<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron">
		<div class="heading-page">Cài đặt thông điệp</div>
		<hr>

		<div class="row no-margin list-wrapper">
			<div class="col-md-12 panel panel-body no-padding maquee-display">
				<marquee direction="left" class="marque">Lorem ipsum d dolor Lorem ipsu!</marquee>
			</div>
		</div>
		<div class="row no-margin setting-wifi">
			<div class="panel panel-default col-md-6 col-xs-12 no-padding setting-item">
				<div class="panel-heading">Nội dung thông điệp</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Nội dung</label>
						<textarea class="form-control" rows="2" id="comment"></textarea>
					</div>
					<div class="form-group">
						<label>Font chữ</label>
						<select class="form-control" id="sel1">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
				</div>
			</div>
			<div class="panel panel-default col-md-6 col-xs-12 no-padding setting-item">
				<div class="panel-heading">Hiệu ứng chuyển động</div>
				<div class="panel-body">
					<div class="form-group">
						<label>Thể loại</label>
						<select class="form-control" id="motion">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
						</select>
					</div>
					<div class="form-group">
						<label>Tốc độ</label>
						<input class="simple-slider" type="hidden" value="25"/>
					</div>
					<div class="form-group">
						<label>Lặp lại (lần)</label>
						<input type="number" name="name" class="form-control" placeholder="" ng-model="user.name">
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xs-12 panel panel-body setting-item">
				<div class="form-group">
					<label>Vị trí bắt đầu</label>
					<div class="text-center">
						<div><i class="glyphicon glyphicon-chevron-up glyphicon-large"></i></div>
					</div>
					<div class="text-center">
						<div><i class="glyphicon glyphicon-chevron-left glyphicon-large"></i><i class="glyphicon glyphicon-chevron-right glyphicon-large"></i></div>
					</div>
					<div class="text-center">
						<div><i class="glyphicon glyphicon-chevron-down glyphicon-large"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a class="btn btn-primary" role="button" ng-click="vm.add()"><i class="glyphicon glyphicon-plus"></i> Add message</a>
		</div>
	</div>
</div> <!-- /container -->