body{ background-image:url("../img/background-page.jpg"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px;}
.container-main {
  margin-top: 50px;
  .container {
    @media screen and (max-width: 768px) {
      font-size: 14px;
      padding: 0;
      .jumbotron {
        padding: 15px;
        font: inherit;
      }
    }
  }
}
.login-form {
  @media screen and (max-width: 768px) {
    .main-div {
      max-width: fit-content;
      padding: 20px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.text-bold {
  font-weight: bold;
}

.text-important{
  color: red;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.progress-circle {
  background: transparent;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  .glyphicon-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -20px 0 0  -20px;
    font-size: 40px;
  }
}

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -ms-animation: spin .7s infinite linear;
  -webkit-animation: spinw .7s infinite linear;
  -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}


.remove-icon {
  position: absolute;
  right: 10px;
  top: 18px;
}

.list-wrapper {
  .message-item {
    border-width: 2px;
    width: 100%;
    marign: 0;
    vertical-align: top;
    min-height: 59px;
    @media screen and (min-width: 768px) {
      width: calc(50% - 10px);
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
    .glyphicon-remove {
      position: absolute;
      right: 0;
      margin: 15px;
    }
  }
}

.setting-wifi {
  .setting-item {
    border-width: 2px;
    width: 100%;
    marign: 0;
    padding: 15px 0 0;
    @media screen and (min-width: 768px) {
      width: calc(50% - 10px);
      padding: 15px;
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }
  .glyphicon-setting {
    font-size: 3em;
    @media screen and (min-width: 768px) {
      font-size: 10em;
    }
  }
}

.matrix-board {
  padding-top: 0 !important;
  .matrix-img {
    height: 151px;
    background-image:url("../img/p10.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    @media screen and (min-width: 768px) {
      height: 257px;
    }
  }
  .matrix-contents {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding-top: 15px;
    font-size: 82px;
    color: #fff;
    /* text-shadow: 0 0 0.2em #FAD, 0 0 0.2em #F87; */
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
    @media screen and (min-width: 768px) {
      padding-top: 25px;
      font-size: 153px;
    }
  }
  .matrix-down {
    position: absolute;
    top: 60px;
    left: 0;
    @media screen and (min-width: 768px) {
      left: 18px;
      top: 38%;
    }
  }
  .matrix-across {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    @media screen and (min-width: 768px) {
      bottom: 10px;
    }
  }
}

.selected-bar {
  background: red !important;
}

.slider-container {
  margin-top: 15px;
}

[angular-marquee] {
  overflow: hidden;
}

.maquee-display {
  height: 100px;
  .marque {
    height: 100%;
    font-size: 80px;
    color: #fff;
    /* text-shadow: 0 0 0.2em #FAD, 0 0 0.2em #F87; */
    text-shadow: 0 0 150px #FFF, 0 0 60px #FFF, 0 0 10px #FFF;
    white-space: nowrap;
    @media screen and (min-width: 768px) {
      font-size: 85px;
      //line-height: 73px;
    }
  }
}
.glyphicon-large {
  font-size: 35px;
  margin: 0 14px;
  cursor: pointer;
}

.listBtn {
  text-align: center;
  .btn {
    width: 100%;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      width: auto;
    }
  }
}

.heading-page {
  font-size: 20px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
  }
}

.panel-heading {
  text-align: center;
}

.maquee-display {
  height: 138px;
  background-image:url("../img/p10_1.jpg");
  background-repeat:repeat-x;
  background-position:left;
  background-size: contain;
  @media screen and (min-width: 768px) {
    height: 151px;
  }
}